<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">
        Contact Us 
        <span class="badge bg-secondary">New</span>
      </h1>
      <p class="card-text mb-4">We would love to hear from you:</p>

      <a href="" class="btn btn-primary">
        <i class="bi bi-envelope-fill"></i> Email Us
      </a>
    </div>
  </div>
</div>
