<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Help Page</h1>
      <a href="#" class="btn btn-primary mt-3">Press HERE for Help</a>
    </div>
  </div>
</div>
