<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/portfolio">Projects</a>
    <a class="navbar-brand" href="/about">About</a>
    <button id="lightmode" class="btn"><i class="fa-solid fa-circle-half-stroke"></i></button>
  </div>
</nav>

<div id="lightalert" class="alert alert-success alert-dismissible fade show mt-3 d-none" role="alert">
  Light mode enabled!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1 class="text-center">Evan Lyons</h1>


<div class="text-center my-4">
  <%= image_tag "cc.jpg", style: "max-width: 700px; width: 100%; height: auto; box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);" %>
</div>

<div class="container text-center">
  <p><b>Computer Science</b> <i class="fa-solid fa-robot"></i> and <b>Economics</b> <i class="fa-solid fa-money-bill-trend-up"></i> student at
    <a href="https://www.conncoll.edu/"><u>Connecticut College</u></a>.
  </p>

  <p><b>Class of 2027</b> <i class="fa-solid fa-graduation-cap"></i></p>
  <p><b>Sports:</b> <b>Swim</b> and <b>Track</b></p>
  <p><b>Location:</b> <b>New London, CT</b> <i class="fa-solid fa-location-dot"></i></p>
  <p><b>Email:</b> <a href="mailto:elyons1@conncoll.edu">elyons1@conncoll.edu</a> <i class="fa-solid fa-envelope"></i></p>

  <div class="mt-3">
    <a class="btn btn-outline-primary me-2" href="https://www.linkedin.com/in/evanjlyons/"><i class="fa-brands fa-linkedin"></i></a>
    <a class="btn btn-outline-dark" href="https://github.com/EvanL77/"><i class="fa-brands fa-square-github"></i></a>
  </div>
</div>

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
